/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;
*/
/*PG*/
  .pg{

  }

/*PÁGINA LANDING PAGE*/
  .pg-landingPage {
    font-family: 'Open Sans', sans-serif;
  }
    .pg-landingPage .sessaoInicial {
      width: 100%;
      margin-top: 70px;
    }
      .pg-landingPage .sessaoInicial h1.tituloSessao {
        color: #2a3557;
        font-size: 33px;
        font-weight: bold;
        width: 100%;
        max-width: 780px;
        margin-bottom: 25px;  
      }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP {
     
     background-size: cover!important;
     background-position: 0px 345px!important;
     height: 345px;
     color: #fff;
     position: relative;
    }
      .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 800px;
      }
      .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner h2.tituloDestaqueLP {
       font-weight: lighter;
       width: 100%;
       max-width: 489px;
       line-height: 39px;
       background-color: #182039;
       font-size: 30px;
       text-align: justify;
       padding: 0 12px;
       margin-top: 0;
      }
        .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner h2.tituloDestaqueLP strong {

        }
      .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 14px;
        background-color: #f18c25;
        border-radius: 3px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 23px;
        border-bottom: 5px solid #cb5405;
        position: relative;
      }
      .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos:before{
       content: "clique aqui";
       display: block;
       width: 100px;
       height: 50px;
       position: absolute;
       right: -125px;
       font-size: 13px;
       font-style: italic;
       text-transform: none;
       top: 0;
       background-image: url(../img/setaBaixo.png);
       background-position: 0px 27px!important;
       background-repeat: no-repeat;
      }
      .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos:hover{
        background: #cb5405;
        border-bottom: 5px solid #f18c25;
        transition: all .4s;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
      }
      
      
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica {
      margin-top: 35px;
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;
    }
      .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h2{
        color: #2a3557;
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica article{
      
      }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica article p{
          font-size: 17px;
          color: #2a3557;
          line-height: 22px;
          font-weight: inherit;
        }
      .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h4{
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        font-style: italic;
        color: #2a3557;
        font-weight: 600;
      }
      .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre{
       width: 100%;
       max-width: 600px;
       margin: 0 auto;
       text-align: center;
       margin-top: 22px;
      }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a{
          width: 100%;
          max-width: 257px;
          display: inline-block;
          background-color: #f18c25;
          color: #fff;
          text-transform: uppercase;
          font-size: 17px;
          padding: 9px 20px;
          border-radius: 4px;
          margin: 0 5px;
          text-align: left;
          position: relative;
          text-decoration: none;
        }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a:hover{
          background: #cb5405;
          transition: all .4s;
          -webkit-transition: all .4s;
          -moz-transition: all .4s;
          -o-transition: all .4s;
        }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a:before{
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          background: url(../img/setaBotao.png);
          background-repeat: no-repeat;
          background-size: cover!important;
          position: absolute;
          right: 18px;
          top: 8px;
        }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a.analiseDeLigacoes{
      
        }
        .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a.conteudoBuscavel{
      
        }
    .pg-landingPage .sobreTecnologia {
      margin-top: 35px;
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;
    }
      .pg-landingPage .sobreTecnologia h2{
        color: #2a3557;
        font-weight: 700;
        font-size: 25px;
      }
      .pg-landingPage .sobreTecnologia ul.listaDeTopicos{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        margin-top: 15px;
      }
        .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico{
          display: inline-block;
          width: 100%;
          max-width: 50%;
          vertical-align: top;
        }
          .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico article{
            width: 100%;
            max-width: 510px;
            padding: 0 20px;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
          }
            .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico article figure{
              width: 100%;
              max-width: 73px;
              margin: 27px auto;
            }
              .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico article figure img{
                width: 100%;
                height: auto;
                max-width: 70px;
                min-height: 70px;
              }
            .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico article p.descricaoTopico{
              font-size: 16px;
            }
              .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico article p.descricaoTopico strong{

              }
    .pg-landingPage .voiceAnalytics {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-top: 15px;
    }
      .pg-landingPage .voiceAnalytics article {

      }
        .pg-landingPage .voiceAnalytics article h2{
          color: #2a3557;
          font-weight: 600;
          margin: 30px 0 20px 0;
        }
        .pg-landingPage .voiceAnalytics article p{
          font-size: 16px;
          color: #2a3557;
          line-height: 22px;
          font-weight: inherit;
        }
        .pg-landingPage .voiceAnalytics article h4{
          width: 100%;
          margin: 20px auto;
          font-style: italic;
          color: #2a3557;
          font-weight: 600;
          text-align: center;
        }
        .pg-landingPage .voiceAnalytics article a.botaoEnviarArquivos{
          display: block;
          text-align: center;
          width: 100%;
          max-width: 169px;
          background: #f18c25;
          padding: 10px 10px;
          border-radius: 3px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          margin: 20px auto;
          position: relative;
        }
        .pg-landingPage .voiceAnalytics article a.botaoEnviarArquivos:before{
          content: "";
          display: block;
          width: 40px;
          height: 51px;
          position: absolute;
          top: -28px;
          right: -54px;
          background: url(../img/setaGrande.png);
        }
        .pg-landingPage .voiceAnalytics article a.botaoEnviarArquivos:hover,.pg-landingPage .searchableContent article a.botaoEnviarArquivos:hover{
          background: #cb5405;
          transition: all .4s;
          -webkit-transition: all .4s;
          -moz-transition: all .4s;
          -o-transition: all .4s;
        }
    .pg-landingPage .searchableContent {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-top: 15px;
    }
      .pg-landingPage .searchableContent article {

      }
        .pg-landingPage .searchableContent article h2{
          color: #2a3557;
          font-weight: 600;
          margin: 30px 0 20px 0;
        }
        .pg-landingPage .searchableContent article p{
          font-size: 16px;
          color: #2a3557;
          line-height: 22px;
          font-weight: inherit;
        }
        .pg-landingPage .searchableContent article h4{
          width: 100%;
          margin: 20px auto;
          font-style: italic;
          color: #2a3557;
          font-weight: 600;
          text-align: center;
        }
        .pg-landingPage .searchableContent article a.botaoEnviarArquivos{
          display: block;
          text-align: center;
          width: 100%;
          max-width: 169px;
          background: #f18c25;
          padding: 10px 10px;
          border-radius: 3px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          margin: 20px auto;
          position: relative;
        }    
        .pg-landingPage .searchableContent article a.botaoEnviarArquivos:before{
          content: "";
          display: block;
          width: 40px;
          height: 51px;
          position: absolute;
          top: -28px;
          right: -54px;
          background: url(../img/setaGrande.png);
        }

/*PÁGINA DE VÍDEOS*/
  .pg-videos {
    font-family: 'Open Sans', sans-serif;
    padding-top: 40px;
  }
    .pg-videos h1.tituloVideos {
      color: #2a3557;
      font-size: 31px;
      width: 100%;
      max-width: 649px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      padding-left: 25px;
    }
    .pg-videos .sessaoVideos {
     padding-bottom: 40px;
     margin-top: 40px;
    }
      .pg-videos .sessaoVideos ul.listaDeVideos{
        font-size: 0;
        list-style: none;
        margin: 0;
        padding: 0;
      }
        .pg-videos .sessaoVideos ul.listaDeVideos li{
         display: inline-block;
         width: 33.3%;
         padding-bottom: 50px;
        }
          .pg-videos .sessaoVideos ul.listaDeVideos li article{
            width: 100%;
            padding: 0 25px;
          }
            .pg-videos .sessaoVideos ul.listaDeVideos li article h2.tituloVideo{
              font-size: 23px;
              color: #2a3557;
              margin-bottom: 15px;
              font-weight: 600;
            }
            .pg-videos .sessaoVideos ul.listaDeVideos li article figure{
              width: 100%;
            }
              .pg-videos .sessaoVideos ul.listaDeVideos li article figure img{
                width: 100%;
                height: auto;
              }
            .pg-videos .sessaoVideos ul.listaDeVideos li article p.descriptionVideo{
              font-size: 17px;
              margin: 15px 0;
              color: #2a3557;
            }
            .pg-videos .sessaoVideos ul.listaDeVideos li article a.botaoVerVideo{
              background: #f18c25;
              font-size: 16px;
              text-transform: uppercase;
              color: #fff;
              padding: 10px 25px;
              margin-top: 5px;
              display: inline-block;
              border-radius: 3px;
              text-decoration: none;
            }
            .pg-videos .sessaoVideos ul.listaDeVideos li article a.botaoVerVideo:hover{
              background: #cb5405;
              transition: all .4s;
              -webkit-transition: all .4s;
              -moz-transition: all .4s;
              -o-transition: all .4s;
            }

/*SINGLE VIDEO*/
  .pg-single-video {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px;
  }
    .pg-single-video h1.tituloVideo{
      color: #2a3557;
      font-size: 33px;
      width: 100%;
      max-width: 592px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .pg-single-video .iframeVideo{
       width: 100%;
    }
      .pg-single-video .iframeVideo iframe{
        width: 100%;
        max-height: 500px;
      }
    .pg-single-video .conteudoVideo{
      width: 100%;
      padding-bottom: 40px;
    }
      .pg-single-video .conteudoVideo h3{
        color: #2a3557;
        font-weight: 700;
        margin: 30px 0;
      }
      .pg-single-video .conteudoVideo span{
        display: block;
        margin: 20px 0;
      }
      .pg-single-video .conteudoVideo p{
        color: #2a3557;
      }
      .pg-single-video .conteudoVideo strong{
      
      }

/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
    .pg-landingPage .sessaoInicial h1.tituloSessao {
      font-size:29px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner h2.tituloDestaqueLP{
      font-size: 24px;
      text-align: left;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos{
      font-size: 17px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner {
      max-width: 500px;
    }
    .pg-videos h1.tituloVideos{
      font-size: 26px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article h2.tituloVideo{
      font-size: 20px;
    }
    .pg-single-video h1.tituloVideo{
      font-size: 26px;
    }
  }
  @media(max-width: 768px){
    .pg-landingPage .sessaoInicial h1.tituloSessao {
      font-size: 25px;
      padding: 0 15px;    
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner {
      transform: translate(-50%, -50%);
      max-width: 489px;
      left: 50%;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos:before{
      right: -114px;
      top: -2px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos{
      font-size: 15px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP{
      height: 281px;
      background-position: center!important;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica{
      padding: 0 15px 40px 15px;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a{
      max-width: 250px;
      font-size: 16px;
      display: block;
      margin: 10px auto;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a:before{
      right: 21px;
      top: 8px;
    }
    .pg-landingPage .sobreTecnologia h2{
      text-align: center;
      padding: 0 15px;

    }
    .pg-landingPage .voiceAnalytics, .pg-landingPage .searchableContent{
      padding: 0 15px 30px;
      text-align: center;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article h2.tituloVideo{
      font-size: 18px;
      text-align: center;
    }
    .pg-videos h1.tituloVideos{
      font-size: 23px;
      text-align: center;
      max-width: 100%;
      padding: 0 15px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article p.descriptionVideo{
      font-size: 16px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li{
      width: 50%;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article a.botaoVerVideo{
      font-size: 15px;
      display: block;
      width: 100%;
      max-width: 130px;
      text-align: center;
      margin: 5px auto 0;
    }
    .pg-single-video h1.tituloVideo{
      font-size: 23px;
      text-align: center;
      margin: 20px auto;
    }
  }

  @media(max-width: 610px){
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h2
    .pg-landingPage .sessaoInicial h1.tituloSessao,{
      font-size: 24px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner h2.tituloDestaqueLP{
      font-size: 21px;  
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos {
      font-size: 14px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner{
      padding: 0 15px;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica article p{
      font-size: 15px;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h4{
      margin: 10px auto;
    }
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica .botoesSobre a{
      font-size: 15px;
    }
    .pg-landingPage .sobreTecnologia h2{
      font-size: 24px;
    }
    .pg-landingPage .sobreTecnologia ul.listaDeTopicos li.topico{
      max-width: 100%;
    }
    .pg-landingPage .voiceAnalytics article p{
      font-size: 15px;
    }
    .pg-landingPage .voiceAnalytics article a.botaoEnviarArquivos:before,.pg-landingPage .searchableContent article a.botaoEnviarArquivos:before{
      top: -24px;
      right: -43px;   
      width: 34px;
      height: 42px;
      background-size: cover!important;
      background-position: center!important;
    }
    .pg-videos h1.tituloVideos {
      font-size: 21px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article h2.tituloVideo {
      font-size: 17px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article p.descriptionVideo {
      font-size: 15px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li article a.botaoVerVideo {
      font-size: 14px;
    }
    .pg-videos .sessaoVideos ul.listaDeVideos li{
      width: 100%;
    }
    .pg-single-video .iframeVideo iframe {
      max-height: 400px;
    }
  }
  @media(max-width: 445px){
    .pg-landingPage .sessaoInicial h1.tituloSessao,.pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h2 {
      font-size: 22px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner h2.tituloDestaqueLP{
      font-size: 20px;
      line-height: 30px;
    }
    .pg-landingPage .sessaoInicial .bannerDestaqueLP .conteudoBanner a.botaoEnviarArquivos {
      font-size: 12px;
    }
    .pg-videos h1.tituloVideos{
      font-size: 20px;
    }
    .pg-single-video .conteudoVideo h3{
      font-size: 21px;
    }
    .pg-single-video h1.tituloVideo,.pg-single-video .conteudoVideo h3{
      font-size: 20px;
    }
  }

  @media(max-width: 425px){
    .pg-landingPage .sessaoInicial .sobreTranscricaoAutomatica h2
    .pg-landingPage .sessaoInicial h1.tituloSessao, {
      font-size: 21px;
    }
  }

  @media(max-width: 320px){
  
  }
